<manifest package="com.aura.launcher"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="AURA Launcher"
        android:theme="@style/Theme.AuraLauncher">

        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
