<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aura.launcher">

    <application
        android:allowBackup="true"
        android:label="AURA Launcher"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuraLauncher">

        <!-- LAUNCHER / HOME -->
        <activity
            android:name=".AppsActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- OPTIONAL: setup / search entry -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>
