name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608

      - uses: actions/setup-java@d854c75a1a2b0d5f4fcb4ce8b063d6d5a41f7f99
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - uses: actions/upload-artifact@5d5d22d9e15b1d7d29f4d8e5e77c5fbe4a6f7c9b
        with:
          name: app-debug-apk
          path: app/build/outputs/apk/debug/*.apk
